<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <div>
        <a href="{% url 'post' %}">Post</a>
    </div>
    <div>
        <ul>
            {% for post in data %}
            {% if post.user %}
            <li>{{ post.user }}</li>
            {% else %}
            <li>Name derived from account</li>
            {%endif%}
            <li>{{ post.post }}</li>
            <a href="{% url 'edit_post' post.pk %}">Edit</a>
            <hr />
            {% endfor %}
        </ul>
    </div>
</body>

</html>